.movie-card-component {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movie-card-img {
  width: 85vw;
  height: auto;
  border-radius: 10%;
}

/* Modal Overview */

.overview-container {
  position: absolute;
  bottom: 3rem;
  left: 3px;
  right: 0;
  background-color: #27282c;
  max-height: 549px;
  overflow: hidden;
  height: 18vh;
  width: 85vw;
  border-radius: 2rem;
  margin: 1rem 1.83rem;
  opacity: 90%;
}

.overview-container.active {
  height: 72vh;
}

.title {
  font-size: 0.9rem;
  text-align: center;
  margin: 0.5rem;
}

.notes {
  font-size: 0.6rem;
  text-align: center;
  margin: 0;
}

.overview {
  font-size: 0.8rem;
  margin: 0.5rem 1rem 0 1rem;
  text-overflow: ellipsis;
}

.button {
  bottom: 0.5rem;
}

.title {
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem 0.5rem 0 0.5rem;
}
