* {
  box-sizing: border-box;
  background-color: #27282c;
}

body {
  background-color: white;
  font-family: "Montserrat";
  color: white;
  margin: 0;
}

header {
  display: flex;

  img {
    margin: 0.5rem auto;
  }
}
