<<<<<<< HEAD
* {
  box-sizing: border-box;
}

body {
  background-color: #27282c;
  font-family: "Montserrat";
  color: white;
  margin: 0;
}
=======
header {
  display: flex;

  img {
    margin: 0.5rem auto;
  }
}
>>>>>>> ec9d80156d9cb138cd7b642fb0754b7efc2abe0c
