* {
  box-sizing: border-box;
  background-color: #27282c;
}

body {
  background-color: white;
  font-family: "Montserrat";
  color: white;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

header {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  img {
    margin: 0.5rem auto;
  }
}
