.LikeComponent {
  padding: 2rem;
}

.LikeComponent > .likebutton,
.LikeComponent > .dislikebutton {
  background-color: #27282c;
  border-style: none;
  img {
    width: 60px;
    margin: 0 3rem;
  }
}
