.wishlist {
  display: flex;
}

.wishlist-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  height: 700px;
  width: 90vw;
  padding: 30px;
  box-sizing: border-box;
  background: #212121d4;
  position: absolute;
  top: -384px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 3rem;
  animation: Opening-Pop-ups 0.2s linear 0s 1 normal forwards;
  max-height: 100vh;
  overflow: auto;
}

.wishlist-component > div {
  display: flex;
  flex-direction: column;
  background-color: #212121d4;
}

.wishlist-component > div > img {
  width: 100px;
  height: auto;
  border-radius: 1rem;
  margin: 0;
  padding: 0.5rem;
  background-color: #212121d4;
}

.wishlist-component > div > .remove {
  margin: 0;
  width: 20px;
  height: auto;
  position: relative;
  left: 5em;
  bottom: 10em;
  background-color: #212121d4;
  border-radius: 7px;
}

@keyframes Opening-Pop-ups {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
