.listFilter{
    text-align: center;
    top: -411px;
    height: 700px;
    width: 100vw;
    padding: 10px;
    box-sizing: border-box;
    background: #212121d4;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 40px;
    animation: Opening-Pop-ups 0.2s linear 0s 1 normal forwards;
    position: absolute;
    max-height: 100vh;
    overflow: auto;
}

@keyframes Opening-Pop-ups {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.filtre_button {
    background-color: #27282c;
    border-style: none;
}

.listFilter p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 10px;
  height: 30px;
  font-size: larger;
}



