.navbar_container {
  display: flex;
  width: 100vw;
  padding-top: 0.5rem;
}
.nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  gap: 50px;
  background-color: #212121;
}

.navbar_container .navbar-image {
  width: 30px;
  background-color: #212121;
}

button {
  background-color: #212121;
  border-style: none;
}
