.navbar_container {
  display: flex;
  width: 100vw;
  position: absolute;
  bottom: 0;
}
.nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  gap: 50px;
  bottom: 120px;
}

.navbar_container img {
  width: 40px;
  background-color: #27282c;
}

button { 
  background-color: #27282c;
  border-style: none;
}
